@model NftProject.Models.AuctionViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2 class="text-info">Nft Detail</h2>

@Html.Partial("_NftDetailsPartial", Model.NftViewModel)


<h1>Create</h1>

<h4>AuctionInfoModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AuctionSale">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AuctionInfo.MinimalBidStep" class="control-label"></label>
                <input asp-for="AuctionInfo.MinimalBidStep" class="form-control" />
                <span asp-validation-for="AuctionInfo.MinimalBidStep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuctionInfo.StartDate" class="control-label"></label>
                <input asp-for="AuctionInfo.StartDate" class="form-control" />
                <span asp-validation-for="AuctionInfo.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuctionInfo.FinalDate" class="control-label"></label>
                <input asp-for="AuctionInfo.FinalDate" class="form-control" />
                <span asp-validation-for="AuctionInfo.FinalDate" class="text-danger"></span>
            </div>
            
            @* next *@
            <div class="form-group">
                <label asp-for="AuctionSale.Price" class="control-label"></label>
                <input asp-for="AuctionSale.Price" class="form-control" />
                <span asp-validation-for="AuctionSale.Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>