@model NftViewItemModel
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2 class="text-dark">Nft Detail</h2>

@Html.Partial("_NftDetailsPartial", Model)

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
