@using Nethereum.Metamask.Blazor
@model IEnumerable<NftViewItemModel>

@{
    ViewData["Title"] = "My Nfts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">My nfts List</h2>
    </div>

</div>
<br />
<br/><br/>
<div class="row">
    @foreach (var item in Model)
    {
        @Html.Partial("_NftPartial", item)
    }
</div>
