@model IEnumerable<NftProject.Models.AuctionInfoModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Auction actions </h1>

<a asp-action="MyAuctions">My Auctions</a> 

<a asp-action="MyBids">My Bids</a> 