@using Nethereum.Contracts.Standards.ERC721
@model NftViewItemModel
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2 class="text-info">Nft Detail</h2>
<form method="post" enctype="multipart/form-data">
    <div class="p-4 rounded border row">
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="NftMetadata.Name"></label>
                </div>
                <div class="col-8">
                    <input type="hidden" asp-for="MarketData.TokenId" />
                    <input asp-for="NftMetadata.Name" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="NftMetadata.Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="NftMetadata.Price"></label>
                </div>
                <div class="col-8">
                    <input asp-for="NftMetadata.Price" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="NftMetadata.Price" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="NftMetadata.Description"></label>
                </div>
                <div class="col-8">
                    <input asp-for="NftMetadata.Description" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="NftMetadata.Description" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MarketData.Owner"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MarketData.Owner" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="MarketData.Owner" class="text-danger"></span>
            </div>
            
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MarketData.Seller"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MarketData.Seller" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="MarketData.Seller" class="text-danger"></span>
            </div>
            
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MarketData.Sold"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MarketData.Sold" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="MarketData.Sold" class="text-danger"></span>
            </div>
            
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MarketData.TokenId"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MarketData.TokenId" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="MarketData.TokenId" class="text-danger"></span>
            </div>
            

            <div class="form-group row">
                <div class="col-4">

                </div>
                <div class="col-8">

                </div>

            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <img src="@Model.NftMetadata.FileUrl" width="100%" height="250px" style="border-radius: 5px;border: 1px solid #efefef" />
        </div>

    </div>
</form>

<form asp-controller="Nft" asp-action="MyNfts" method="post" enctype="multipart/form-data">
    @* change price *@
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="NftMetadata.Price"></label>
        </div>
        <div class="col-5">
            <input asp-for="NftMetadata.Price" class="form-control" />
        </div>
        <span asp-validation-for="NftMetadata.Price" class="text-danger"></span>
    </div>

    <button type="submit" asp-route-id="@Model.MarketData.TokenId" asp-route-price="@Model.MarketData.Price" class="btn btn-success pull-right btn-outline-info">List Nft</button>
</form>

<a asp-area="" asp-controller="Auction" asp-action="Create" asp-route-id="@Model.MarketData.TokenId">Auction</a>



@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

